*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;

}
.head{
    display: flex;
    justify-content: center;
}
.head1{
    width: 500px;
    text-align: center;
  }
  .head2{
    width: 500px;
}
.purple{
  color: rgb(136, 73, 179);
}


.box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 800px;
  min-height: 200px;
  padding: 20px;
  margin: auto;

  background: #ffffff;
  border-radius: 16px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.box > div:first-child {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: #333;
  text-align: center;
}


.box > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  text-align: start;
}

.box > div:nth-child(2) span {
  font-size: 0.95rem;
  color: #555;
}


.box > div:nth-child(3) {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #040404;
  text-align: center;
}


.box > div:last-child {
  
  display: flex;
  justify-content: center;
}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
